.verify-admin-modal{
    /* background-color: blue; */
    width: 30%;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
  .verify-admin-modal{
    /* background-color: blue; */
    width: 95%;

}
    .verify-admin-modal form {
      width: 100%;
    }
  }